#editor {
    
    .wp-block[data-align="full"] {
        margin-left: 0;
        margin-right: 0;
    }

    .wp-block[data-align="wide"] {
        max-width: none;
    }

    .block-editor-block-list__block[data-type="custom/wpe-container"] {

        max-width: $max_width_main_column;
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 0;
        margin-bottom: 0;
        
        &[data-align="full"] {
            max-width: none;
            margin-left: 0;
            margin-right: 0;

            &::before {
                border-right-width: 1px;
            }
        }
        &[data-align="wide"] {
            max-width: none;
            margin-left: 0;
            margin-right: 0;

            .wp-block-custom-wpe-container {
                max-width: $max_width_main_column;
                margin: auto;
            }
        }

        &.is-selected {

            &:before {
                visibility: visible;
            }
        } 

        &.has-child-selected {

            &:before {
                visibility: visible;
            }
        }

        &::before {

            content: 'Container';
            display: block;
            visibility: hidden;
            position: absolute;
            left: 0;
            top: -20px;
            font-size: .65rem;
            font-weight: 600;
            background: #007cba;
            color: white;
            padding: 1px 6px;
        }

        &:after {
            // box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
            border: 1px dashed rgba(0, 0, 0, 0.1);
        }
        &:not([contenteditable]):focus:after {
            border: none;
        }
    }

    .wp-block-custom-wpe-container {
    
        &.pt-none{ padding-top: 0; }
        &.pt-smaller{ padding-top: $base_padding / 4; }
        &.pt-small  { padding-top: $base_padding / 2; }
        &.pt-medium { padding-top: $base_padding; }
        &.pt-big    { padding-top: $base_padding * 2; }
        &.pt-bigger { padding-top: $base_padding * 4; }

        &.pb-none{ padding-bottom: 0; }
        &.pb-smaller{ padding-bottom: $base_padding / 4; }
        &.pb-small  { padding-bottom: $base_padding / 2; }
        &.pb-medium { padding-bottom: $base_padding; }
        &.pb-big    { padding-bottom: $base_padding * 2; }
        &.pb-bigger { padding-bottom: $base_padding * 4; }

        &.mt-none{  margin-top: 0; }
        &.mt-smaller{  margin-top: $base_padding / 4; }
        &.mt-small  { margin-top: $base_padding / 2; }
        &.mt-medium { margin-top: $base_padding; }
        &.mt-big    { margin-top: $base_padding * 2;  }
        &.mt-bigger { margin-top: $base_padding * 4; }

        &.mb-none{ margin-bottom: 0; }
        &.mb-smaller{ margin-bottom: $base_padding / 4; }
        &.mb-small  { margin-bottom: $base_padding / 2; }
        &.mb-medium { margin-bottom: $base_padding; }
        &.mb-big    { margin-bottom: $base_padding * 2;  }
        &.mb-bigger { margin-bottom: $base_padding * 4; }

        .block-editor-block-list__layout {
            // display: flex;
            padding: 0 10px;

            display: grid;
            grid-template-columns: repeat(12, [col-start] 1fr);
            grid-gap: 10px;
        }

        .wp-block {
            max-width: 99%;
        }
    }

}